#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	display: inline-block;
	margin: 5px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
	width: 60px;
	text-align: center;
	color: #000;
	background-color: #fff;
}

.card .card-value {
	font-size: 16px;
}

.hearts,
.diamonds {
	color: red;
}

.hand {
	margin: 20px 0;
}
